In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
# Load data files.
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)

In [4]:
# Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(student_data_to_load)

In [5]:
# Add each prefix and suffix to remove to a list
prefixes_suffixes = ["Dr. ","Mr. ","Mrs. ","Miss ","Ms. ", " DDS"," DVM"," MD"," PhD"]

# Iterate through the words in the 'prefixes_suffixes' list and replace them with an empty space
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word,"")

C:\Users\culle\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

In [6]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])

In [7]:
# Get the total number of students
student_count = school_data_complete_df["Student ID"].count()

In [8]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()

In [9]:
# Calculate the total budget
total_budget = school_data_df["budget"].sum()

In [10]:
# Calculate the average reading score
mean_reading_score = school_data_complete_df["reading_score"].mean()

In [11]:
# Calculate the average math score
mean_math_score = school_data_complete_df["math_score"].mean()

In [12]:
# Set variables for passing grades
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]

In [13]:
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

In [14]:
# Caclulate the number of students passing math
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading
passing_reading_count = passing_reading["student_name"].count()

In [15]:
# Calculate the percent that passed math
passing_math_percentage = float((passing_math_count / student_count) * 100)

# Calculate the percent that passed reading
passing_reading_percentage = float((passing_reading_count / student_count) * 100)

In [16]:
# Calculate the number of students who passed both math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) &
                                               (school_data_complete_df["reading_score"] >= 70)]

In [17]:
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

In [18]:
# Calculate the overall passing percentage
overall_passing_percentage = float((overall_passing_math_reading_count / student_count) * 100)

In [19]:
# Adding a list of values with keys to create a new DataFrame
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": mean_math_score,
          "Average Reading Score": mean_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])

In [20]:
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

In [21]:
# Format 'Total Budget' to have the comma for a thousands separator, a decimal separator, and a '$'
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

In [22]:
# Format the remaining columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [23]:
# Determine the school type.
per_school_types = school_data_df.set_index(["school_name"])["type"]

In [24]:
# Add the per_school_types into a DataFrame for testing.
df = pd.DataFrame(per_school_types)

In [25]:
# Calculate the total student count.
per_school_counts = school_data_df.set_index(["school_name"])["size"]

In [26]:
# Calculate the total student count.
per_school_counts = school_data_complete_df["school_name"].value_counts()

In [27]:
per_school_budget = school_data_df.set_index(["school_name"])["budget"]

In [28]:
# Calculate the per capita spending
per_school_capita = per_school_budget / per_school_counts

In [29]:
# Calculate mean math and reading scores per school
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

In [30]:
# Calculate the passing percentages for students at each school
per_school_passing_math = passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = passing_reading.groupby(["school_name"]).count()["student_name"]

In [31]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100

In [32]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = passing_math_reading.groupby(["school_name"]).count()["student_name"]

In [33]:
# Calculate the overall passing percentage.
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

In [34]:
# Adding a list of values with keys to create a new DataFrame.
per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})

In [35]:
# Format the Total School Budget and the Per Student Budget columns.
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

In [36]:
# Sort and show top five schools.
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)

In [37]:
# Sort and show top five schools.
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

In [38]:
# Create a grade level DataFrames.
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

In [39]:
# Group each grade level DataFrame by the school name for the average math score.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

In [40]:
# Group each grade level DataFrame by the school name for the average reading score.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

In [41]:
# Combine each grade level Series for average math scores by school into a single DataFrame.
math_scores_by_grade = pd.DataFrame({
               "9th": ninth_grade_math_scores,
               "10th": tenth_grade_math_scores,
               "11th": eleventh_grade_math_scores,
               "12th": twelfth_grade_math_scores})

In [42]:
# Combine each grade level Series for average reading scores by school into a single DataFrame.
reading_scores_by_grade = pd.DataFrame({
              "9th": ninth_grade_reading_scores,
              "10th": tenth_grade_reading_scores,
              "11th": eleventh_grade_reading_scores,
              "12th": twelfth_grade_reading_scores})

In [43]:
# Format each grade column.
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)
math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)
math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)
math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

# Remove the index name.
math_scores_by_grade.index.name = None

In [44]:
# Format each grade column.
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)
reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)
reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)
reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

# Remove the index name.
reading_scores_by_grade.index.name = None
# Display the data frame.
reading_scores_by_grade.head()

                       9th  10th  11th  12th
Bailey High School    81.3  80.9  80.9  80.9
Cabrera High School   83.7  84.3  83.8  84.3
Figueroa High School  81.2  81.4  80.6  81.4
Ford High School      80.6  81.3  80.4  80.7
Griffin High School   83.4  83.7  84.3  84.0